#app {
  display: flex;
  flex-direction: column;
}

.box {
  /*estilizacao das DIVs BOX*/
  width: 60px; /*largura*/
  height: 60px; /*comprimento*/
  background: #f00; /*cor de fundo*/
  margin: 5px; /*margem*/
}
