html,
body,
#app {
  /*Estilizacao para o ocupar o comprimento total da tela*/
  height: 100%;
  margin: 0;
}

#app {
  /*Estilizacao da DIV APP, div principal*/
  display: flex; /*habilita o flexbox na div principal*/
  flex-wrap: wrap;
  align-content: center;
}

.box {
  /*estilizacao das DIVs BOX*/
  width: 200px; /*largura*/
  height: 60px; /*comprimento*/
  background: #f00; /*cor de fundo*/
  margin: 5px; /*margem*/
}

/*---ESTILOS NAO APLICADOS, POREM ESTUDADOS---*/

#app-old1 {
  /*Estilizacao da DIV APP, div principal*/
  display: flex; /*habilita o flexbox na div principal*/
  flex-direction: column; /*tipo de direcao de alinhamento*/

  align-items: center; /*alimento vertical dos elementos caso ROW*/
  justify-content: space-around; /*alinhemento horizontal dos elementos caso ROW*/
  /*Caso o flex-direction seja COLUMN os alimentos de align-itens e justify-content sao invertidos*/
}

.box-old1 {
  /*estilizacao das DIVs BOX*/
  width: 60px; /*largura*/
  height: 60px; /*comprimento*/
  background: #f00; /*cor de fundo*/
  margin: 5px; /*margem*/
}

#app-old2 {
  /*Estilizacao da DIV APP, div principal*/
  display: flex; /*habilita o flexbox na div principal*/
}

.box-old2 {
  /*estilizacao das DIVs BOX*/
  width: 300px; /*largura*/
  height: 60px; /*comprimento*/
  background: #f00; /*cor de fundo*/
  margin: 5px; /*margem*/

  /*flex-grow: 1;*/ /*aumenta os elementos para ocupar toda a largura da tela*/
  /*flex-shrink: 0;*/ /*diminui o tamanho dos elementos (1), mantem o tamanho dos elementos (0)*/
  flex: 1; /*aplica as definicaoes de flex-grow e flex-shrink - flex: 1 0*/
}
