* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Padding nao aumenta o tamanho da width ou height de um elemento*/
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important; /*Renderiza a font com melhor qualidade*/
  -webkit-font-amoothing: antialiased !important;
}
